body {
  background-image: url("https://imgs.search.brave.com/G40MWDM9FpcJzMIfoejpvNnnSMxK781jGn4RIyxRrCc/rs:fit:1200:1185:1/g:ce/aHR0cHM6Ly9pbWFn/ZS5qaW1jZG4uY29t/L2FwcC9jbXMvaW1h/Z2UvdHJhbnNmL25v/bmUvcGF0aC9zYzc3/ZTFlNThhNDJjNTE0/YS9pbWFnZS9pOTk3/N2M3YjNhNmRiMjAz/YS92ZXJzaW9uLzE1/MTY1Nzg5NTQvaW1h/Z2UuanBn");
  background-repeat: no-repeat;
  background-size: 100% auto;
 
 }